.about {
    margin-top: 3em;
}

.light {
    & .github {
        cursor: pointer;
        width:30px;
        height:30px;
        position: absolute;
        right: 10px;
        top: 3em;
        @extend %all-transition;

        &:hover {
            filter: drop-shadow(1px 1px 2px #66666634);
        }
    }

    & .go-back {
        @extend %all-transition;
        max-width: 3em;

        &:hover {
            filter: drop-shadow(1px 1px 2px #66666634);
        }
    }

    & .dev-title {
        position: absolute;
        right: 10px;
        bottom: 10px;
        letter-spacing: 1px;
        font-weight: 500;
        color: #6f6f6f;
        font-size: .9em;        
    }
}